.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}


.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.8s ease 0s;
  z-index: 1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1183px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 980px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 480px) {
  .cover__link {
    min-height: 200px;
  }
}
