.places {
  margin: 92px 148px 0 148px;
}
@media (max-width:1200px) {
  .places {
    margin: 92px 48px 0 48px;
  }
}

@media (max-width:980px) {
  .places {
    margin: 88px 24px 0 24px;
  }
}
@media (max-width:760px) {
  .places {
    margin: 64px 16px 0 16px;
  }
}
