.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  max-width: 360px;
  text-align: center;
  margin: 0;
  z-index: 3;
}

@media (max-width: 650px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 18px;
    max-width: 260px;
  }
}

@media (max-width: 420px) {
  .cover__subtitle {
    line-height: 16px;
  }
}
